{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block head %}
    <!-- 引入 ECharts 文件 -->
     <script src="{{ url_for('static',filename='js/echarts.common.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.min.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>分业务设备数量 <small><button class="btn btn-warning btn-xs" type="button">总数
                            <span class="badge">{{ device_nums }}</span></button></small></h3>
                    </div>
                </div>
                    <div id="chart1" class="demo-placeholder" style="padding: 0px; position: relative;width: 100%;height:250px;">
                        <script type="text/javascript">
                    var dom = document.getElementById("chart1");
                    var myChart = echarts.init(dom);
                    var app = {};
                    option = null;

                    var xdata = {{ platforms|tojson }};
                    var ydata  = {{ platforms_counts|tojson }};
                    option = {
                            title: {
                            subtext: '不含已下线设备'
                            },
                            backgroundColor: "#ffffff",
                            tooltip: {
                                show: true,
                                formatter: "{b}: {c}",
                                trigger: "axis",
                                axisPointer: {
                                    type:'shadow',
                                    shadowStyle :{
                                        color:'rgba(48,95,237,0.1)'
                                    }
                              },
                              backgroundColor: "rgba(255,255,255,1)",
                              padding: [5, 10],
                              textStyle: {
                                color: "#7588E4"
                              },
                              extraCssText: "box-shadow: 0 0 5px rgba(0,0,0,0.3)"
                            },
                             legend: {
                              right: 20,
                              orient: "vertical",
                              data: ["设备数量"]
                            },
                            xAxis: {
                              data: xdata,
                              axisLine: {
                                lineStyle: {
                                  color: "#EDEDED"
                                }
                              },
                              axisLabel: {
                                color: "#666666",
                                fontSize: 12
                              }
                            },
                            yAxis: {
                              nameTextStyle: {
                                color: "#666666",
                                fontSize: 14
                              },
                              axisLine: {
                                lineStyle: {
                                  color: "#EDEDED"
                                }
                              },
                              axisLabel: {
                                color: "#666666",
                                fontSize: 14
                              },
                              splitLine: {
                                show: true,
                                lineStyle: {
                                  color: "#EDEDED"
                                }
                              },
                              minInterval : 1
                            },
                            series: [
                              {
                                name : '设备数量',
                                type: "bar",
                                barWidth: 18,
                                itemStyle: {
                                  normal: {
                                    color: new echarts.graphic.LinearGradient(
                                      0,
                                      0,
                                      0,
                                      1,
                                      [
                                         /* 4364F7*/
                                        {
                                          offset: 0,
                                          color: "#6FB1FC"
                                        },

                                        {
                                          offset: 0.8,
                                          color: "#0052D4"
                                        }
                                      ],
                                      false
                                    )
                                  }
                                },
                                data: ydata,
                                 animationType: 'scale',
                                animationEasing: 'elasticOut',
                                animationDelay: function (idx) {
                                  return Math.random() * 200;
                                }
                              }
                            ]
                          };
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                </script>
                    </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
            <div class="x_panel tile fixed_height_250">
            <div class="x_title">
                <h2>操作系统</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="chart2" style="width: 100%;height:200px;">
                     <script type="text/javascript">
                var dom = document.getElementById("chart2");
                var myChart = echarts.init(dom);
                option = null;
                option = {
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['Linux','HP-UX','AIX']
                    },
                    series : [
                        {
                            name: '系统',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '45%'],
                            color:['#0D56A6','#689AD3','#FF9A00'],
                            data:[
                                {value:{{ hpux_nums|tojson }}, name:'HP-UX'},
                                {value:{{ aix_nums|tojson }}, name:'AIX'},
                                {value:{{ linux_nums|tojson }}, name:'Linux'}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                </script>
                </div>
            <div class="clearfix"></div>
            </div>
        </div>
            </div>
            <div class="row">
            <div class="x_panel tile" style="height: 320px;">
            <div class="x_title">
                <h2>机房分布</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="chart3" style="width: 100%;height:250px;">
                <script type="text/javascript">
                var dom = document.getElementById("chart3");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                app.title = '嵌套环形图';

                option = {
                "backgroundColor": "#fff",
                "legend": {
                    top:5,
                    "data": {{ engine_rooms|tojson }},
                    "type": "scroll"
                },
                "series": [{
                    "name": "设备类型",
                    "type": "pie",
                    "radius": "55%",
                    "center": ["50%", "60%"],
                    "color":['#4186D3','#689AD3','#274F7D','#04356C','#FFC873','#A66400','#BF8730','#FF9A00','#0D56A6','#FFB440'],
                    "data": {{ engine_rooms_values|tojson }},
                    "itemStyle": {
                        "normal": {
                            "label": {
                                "show": true,
                                "formatter": "{b} : {c} ({d}%)"
                            },
                            "labelLine": {
                                "show": true
                            }
                        },
                        "emphasis": {
                            "label": {
                                "show": true,
                                "formatter": "{b}\n{c} ({d}%)",
                                "position": "center",
                                "textStyle": {
                                    "fontSize": "15"
                                }
                            }
                        }
                    }
                }]
            };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                </script>
                </div>
            <div class="clearfix"></div>
            </div>
        </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 500px">
            <div class="x_panel">
                <div class="x_title">
                <h2>设备类型</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="chart4" style="width: 100%;height:450px;">
                    <script type="text/javascript">
                    var dom = document.getElementById("chart4");
                    var myChart = echarts.init(dom);
                    option = null;
                    var colorList = {
                        type: 'linear',
                        x: 0,
                        y: 0,
                        x2: 1,
                        y2: 0,
                        colorStops: [{
                            offset: 0,
                            color: '#FF9A00' // 0% 处的颜色
                        }, {
                            offset: 1,
                            color: '#FFC873' // 100% 处的颜色
                        }],
                        globalCoord: false // 缺省为 false
                    };
                    var option = {
                        tooltip: {
                            trigger: 'item',
                            axisPointer: {
                                type: 'shadow'
                            },
                            extraCssText:'width:auto;height:auto;'
                        },

                        grid: {
                            x: 0,
                            y:10,
                            x2:30,
                            y2: 0,
                            containLabel: true
                        },

                        xAxis: {
                            type: 'value',
                            max:300,
                            interval:30,
                            boundaryGap: [0, 0.01],
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#161d2c'
                                }
                            },
                            axisLabel: {
                                show: true,
                                interval: '0',
                                textStyle: {
                                    fontSize: 10,
                                    color: '#666666'
                                },
                                rotate:0
                            },
                            axisTick:{
                                show:false
                            },
                            splitLine:{
                                show:false
                            }

                        },
                        yAxis: {
                            type: 'category',
                            axisLine: {
                                show: true,
                                lineStyle: {
                                    color: '#8597c1'
                                },
                                symbol: ['none', 'arrow'],
                                symbolSize: [4, 4]

                            },
                            axisLabel: {
                                show: true,
                                textStyle: {
                                    fontSize: 12,
                                    color: '#666666'
                                }
                            },
                            splitLine:{
                                show:false
                            },
                            axisTick:{
                                show:false
                            },
                            data: {{ device_types|tojson }}
                        },
                        series: [
                            {
                                type: 'bar',
                                data: {{ device_types_nums|tojson }},
                                itemStyle: {
                                    color: function (params) {
                                        return colorList;
                                    }
                                },
                                barWidth: '40%'
                            }

                        ]
                    };
                    if (option && typeof option === "object") {
                        myChart.setOption(option, true);
                    }
                </script>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>


{% endblock %}