{% extends 'base.html' %}
{% block title %}软件信息{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.min.css') }}">
{% endblock %}
{% block body %}
<div class="navbar-wrapper" id="daohang">
  <div class="container" id="container">
        <div class="row">
        <div class="col-md-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>搜索结果 <small>数量：{{ search_nums }}</small></h3>
                    </div>
                </div>
			    <form action="fmsosmnr" id="OSMNRForm" name="OSMNRForm" method="post" enctype="multipart/form-data">
                    <div class="container-fluid">
                    <div class="row-fluid">
                    <div class="span12">
                    <table class="table table-hover"><tbody>
                    </tbody></table>
                    </div></div></div>
                    <div class="container-fluid">
                    <div class="row-fluid">
                    <div class="span12">
                    <table id="datalisttable" class="table table-hover">
                    <thead>
                      <tr>
                      <th>平台</th>
                      <th>集群</th>
                      <th>主机</th>
                      <th>设备类型</th>
                      <th>设备型号</th>
                      <th>序列号</th>
                      <th>机房</th>
                      <th>机架</th>
                      <th>IP</th>
                      <th>映射IP</th>
                      <th>过保时间</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for host in search_result %}
                    <tr>
                        <td>{{ host.platform }}</td>
                        <td>{{ host.cluster }}</td>
                        <td>{{ host.hostname }}</td>
                        <td>{{ host.device_type }}</td>
                        <td>{{ host.device_model }}</td>
                        <td>{{ host.serial }}</td>
                        <td>{{ host.engine_room }}</td>
                        <td>{{ host.frame_number }}</td>
                        <td>{{ host.local_ip }}</td>
                        <td>{{ host.nat_ip }}</td>
                        <td>{{ host.period }}</td>
                    </tr>
                    {% endfor %}
                    </tbody></table>
                        </div>
                        </div>
                        </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}